:root {
	--main-text-color: #757575;
	--main-title-color:  #212121;
	--main-accente-color: #2196F3;
	--white-color: #FFFFFF;
	--maim-bg-color: #F5F4FA;
	--accente-bg-color: #2F303A;
	--grid-item:1;
}
body {
	color: var(--main-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
	font-size: 14px;
	font-style: normal;
	margin: 0;
}

html {
	box-sizing: border-box;
}

img {
	display: block;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.list {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.link {
	text-decoration: none;
}
.title {
	margin-top: 0;
	margin-bottom: 0;
}
.logo {
	color: var(--main-title-color);
	font-family: Raleway, sans-serif ;	
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}
.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
.grid {
display: flex;
flex-wrap: wrap;
margin-top: -30px;
margin-left: -30px;
/* padding: 0; */
}
.grid-item{
	margin-top: 30px;
	margin-left: 30px;
	flex-basis: calc((100% - var(--grid-item) *30px) / var(--grid-item));
}
.section {
	padding-bottom: 94px;
}

/* button */

.button {
	color: var(--main-title-color);
	background: var(--white-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
}
.section-hero .button {
	padding: 10px 32px;
	color: var(--white-color);
	background: var(--main-accente-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: 0;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.button-portfolio {
	font-family: Roboto, serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	background: var(--maim-bg-color);
	border-radius: 4px;
	border: 0;
	padding: 6px 22px;
}
.button-portfolio:hover,
.button-portfolio:focus {
	background: var(--main-accente-color);
	color: var(--white-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.section-hero .button:hover,
.section-hero .button:focus {
	background: var(--white-color);
	color: var(--main-title-color);
}

/* header */

.header {
	padding-top: 24px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ECECEC;
}
.header .container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.header .logo {
	margin-right: 90px;
	align-items: center;
}
.navigation {
	display: flex;
	align-items: center;
	margin-right: auto;
}
.site-nav .item:not(:last-child),
.contact-nav .item:not(:last-child) {
	margin-right: 50px;
	
}
.site-nav,
.contact-nav {
	display: flex;
	align-items: center;
}
.logo-blue {
	color: var(--main-accente-color)
}
.site-nav .link {	
	color: var(--main-title-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus,
.footer-list .link:hover,
.link-adres:hover,
.footer-list .link:focus,
.link-adres:focus {
	color: var(--main-accente-color);
}
.contact-nav .link {
	color: var(--main-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}


/* hero */

.content-hero {
	max-width: 696px;
	margin-left: auto;
	margin-right: auto;
}
.section-hero {
	padding-top: 200px;
	padding-bottom: 200px;
	background: var(--accente-bg-color);
}
.hero-title {
	color: var(--white-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}


/* section-advantages */

.section-advantages{
	padding-top: 94px;
	padding-bottom: 94px;
}
.section-advantages-list .title {
	color: var(--main-title-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}
.section-advantages-list .text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}

.section-advantages .grid-item {
	--grid-item:4;
}

/* work */

.section-work .grid-item {
	--grid-item:3;
}
.section-titlle {
	color: var(--main-title-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

/* teem */
.section-teem {
	background-color:var(--maim-bg-color);
}
.section-teem .grid-item {
	--grid-item:4;
}
.section-teem-list .title {
	color: var(--main-title-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}
.section-teem-list .text {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}

.team-expo .title {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}
.team-expo .text {
	padding-bottom: 30px;
	margin: 0;
}
.section-teem-list .item {
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;

}


/* footer */

.footer .logo {
	color: var(--white-color);
}

.footer {
	background: var(--accente-bg-color);
	padding-top: 60px;
}
.footer-list {
	padding-top: 20px;
	padding-bottom: 60px;
}
.link-adres {
	color: var(--white-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
	}

.footer-list .link {
	color: rgba(255, 255, 255, 0.6);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}
.footer-list .item:not(:last-child) {
	padding-bottom: 10px;
}


/* portfolio */


.portfolip-section .title {
	color: var(--main-title-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2.0;
	letter-spacing: 0.06em;
}
.portfolip-section .text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;
	color: #757575;;
}

.portfolip-section .grid-item {
	--grid-item:3;
}
.filter {
	padding-top: 94px;
	padding-bottom: 34px;
}

.filter-list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.filter-list .item {
	margin-right: 10px;
}
.portfolip-expo {
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
	border-bottom: 1px solid #ECECEC;
	padding: 20px 24px;
}

.portfolip-expo .text {
	margin: 0;
	padding-top: 4px;
}

